@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-theme {
  --color-text: #f1eee4;
  --color-background: #28309c;
}

@layer base {
  body {
    @apply bg-[#6b22ae] dark:bg-[#28309c] text-[#222222] dark:text-[#f1eee4];
    font-family: "Lufga", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
  }
}